body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc {
    border: 1px solid #000;
    display: flex;
    max-width: 97px;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}


.calc-body {
    display: flex;
    gap: 2px;
}

.calc-nums {
    display: flex;
    flex-wrap: wrap;
}

.calc-symbols {
    display: flex;
    flex-direction: column;
}

.calc-symbols > * {
    background-color: #ffff00;
    margin-bottom: 1px;
}

.calc-symbols > *:hover {
    background-color: initial;
}

.calc-btn-clear {
    width: 66%;
}
